@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;

400;500;600;700;800;900&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #24173d;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 120rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

[class*=__container] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

h1 {
  font-weight: 800;
  font-size: 67px;
  line-height: 70px;
}

h2 {
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
}

h3 {
  font-weight: 300;
  font-size: 29px;
  line-height: 70px;
}

h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.05em;
}

p {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.05em;
}

button {
  background: #ffc633;
  width: 250px;
  height: 50px;
  font-weight: 700;
  font-size: 18px;
}

button:hover {
  border: 2px solid black;
}

button,
input[type=submit] {
  cursor: pointer;
  border-radius: 43px;
}

.header__container {
  min-height: 160px;
  padding: 20px 157px 0;
}

.header__container section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header__container section .logo {
  width: 206px;
  height: 80px;
}

.header__container section div {
  background: #3b393c;
  width: 2px;
  height: 80px;
  border-radius: 50%;
  margin-right: 14px;
  margin-left: 45px;
}

.header__container section p {
  text-transform: uppercase;
  font-weight: 700;
}

.header__container section .phone-icon {
  width: 20px;
  height: 20px;
}

.header__container section:last-child {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__container section:last-child .phone {
  font-weight: 600;
  margin-right: 50px;
  margin-left: 10px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__container .logo {
  width: 206px;
  height: 80px;
  margin: 70px 0 40px;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #e6e5ea;
  width: 100%;
  height: 64px;
}

.copyright p {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4a4a4a;
}

.copyright p a {
  color: #ffc633;
  text-decoration: underline;
}

.no-webp .home{
  background: url(../img/home/image-1.png); }

.home {
  background-size: cover;
  min-height: 738px;
}

.home__container {
  padding: 55px 170px 70px 70px;
}

.home__container .first-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  width: 655px;
}

.home__container .first-column div {
  height: 2px;
  width: 462px;
  background: #fff;
  border-radius: 50%;
  margin: 30px 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.home__container .first-column h1,
.home__container .first-column h3,
.home__container .first-column p:last-child {
  text-transform: uppercase;
}

.home__container .first-column p:last-child {
  font-weight: 700;
}

.home__container .first-column h2 + p {
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  margin: 30px 0 10px;
}

.home__container .first-column h2 + p span {
  font-weight: 700;
}

.home__container .first-column h2 {
  font-size: 56px;
  line-height: 60px;
}

.home__container .second-column {
  margin-left: 10px;
}

.home__container .second-column form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 890px;
  height: 461px;
  background: #ffc633;
  border-radius: 30px;
  padding: 50px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.home__container .second-column form .text-wrapper {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.home__container .second-column form .text-wrapper p:first-child {
  font-weight: 800;
  font-size: 87px;
  line-height: 106px;
}

.home__container .second-column form .text-wrapper p:nth-child(2) {
  font-size: 29px;
  font-weight: 400;
  line-height: 42px;
}

.home__container .second-column form .text-wrapper p:last-child {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  color: #fff;
  margin-top: 10px;
}

.home__container .second-column form .input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.home__container .second-column form .input-wrapper input {
  width: 385px;
  height: 65px;
  padding: 20px;
  border-radius: 5px;
  color: #5c5c5c;
  font-weight: 200;
  font-size: 19px;
  line-height: 23px;
}

.home__container .second-column form input[type=submit] {
  width: 355px;
  height: 65px;
  background: #24173d;
  -webkit-box-shadow: 4px 4px 8px rgba(23, 55, 95, 0.2);
          box-shadow: 4px 4px 8px rgba(23, 55, 95, 0.2);
  border-radius: 43px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
}

.home__container .second-column form input[type=submit]:hover {
  border: 2px solid white;
}

.advantage {
  padding: 70px;
}

.advantage__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 283px;
  border: thick double #000;
  border-radius: 20px;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 70px;
}

.advantage__container h2 {
  position: absolute;
  top: -35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #fff;
  padding: 0 20px;
}

.advantage__container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 30%;
  color: #24173d;
}

.advantage__container div img {
  width: 80px;
  height: 80px;
  margin-right: 40px;
}

.props__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.props__container h2 {
  margin-bottom: 60px;
}

.props__container .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.props__container .content-wrapper div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 416px;
  border: 1px solid #fff;
}

.props__container .content-wrapper div h4 {
  color: #fff;
}

.props__container .content-wrapper div button {
  margin: 20px 0 30px;
  -webkit-box-shadow: 4px 4px 8px rgba(23, 55, 95, 0.2);
          box-shadow: 4px 4px 8px rgba(23, 55, 95, 0.2);
  background: #fac86e;
  height: 46px;
  width: 258px;
}

.props__container .content-wrapper .studies,
.props__container .content-wrapper .apartments,
.props__container .content-wrapper .penthouse {
  width: 33.33333%;
}

.props__container .content-wrapper .townhouses,
.props__container .content-wrapper .villa {
  width: 50%;
}

.no-webp .props__container .content-wrapper .studies{
  background: url(../img/props/prop.png) no-repeat; }

.props__container .content-wrapper .studies {
  background-size: cover;
}

.no-webp .props__container .content-wrapper .apartments{
  background: url(../img/props/prop-2.png) no-repeat; }

.props__container .content-wrapper .apartments {
  background-size: cover;
}

.no-webp .props__container .content-wrapper .penthouse{
  background: url(../img/props/prop-3.png) no-repeat; }

.props__container .content-wrapper .penthouse {
  background-size: cover;
}

.no-webp .props__container .content-wrapper .townhouses{
  background: url(../img/props/prop-4.png) no-repeat; }

.props__container .content-wrapper .townhouses {
  background-size: cover;
}

.no-webp .props__container .content-wrapper .villa{
  background: url(../img/props/prop-5.png) no-repeat; }

.props__container .content-wrapper .villa {
  background-size: cover;
}

.data__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 110px 0;
}

.data__container .line {
  width: 5px;
  height: 263px;
  background: #24173d;
  margin-left: 75px;
}

.data__container h2 {
  text-transform: uppercase;
  text-align: left;
  margin-right: 130px;
}

.data__container .data-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 52%;
  background: #ffc633;
  padding: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px 0px 0px 30px;
}

.data__container .data-content .vertical-line {
  width: 2px;
  height: 146px;
  background: #fff;
  margin-right: 10px;
}

.data__container .data-content .data-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 30%;
  min-height: 240px;
}

.data__container .data-content .data-item p:not(.percent) {
  color: #fff;
  text-transform: uppercase;
}

.data__container .data-content .data-item .percent {
  font-weight: 800;
  font-size: 30px;
  line-height: 36px;
  color: #24173d;
}

.data__container .data-content .data-item .percent span {
  font-size: 70px;
  line-height: 85px;
  margin-left: 10px;
}

.data__container .data-content .data-item div {
  height: 2px;
  width: 158px;
  background: #fff;
}

.data__container .data-content .data-item .first-line {
  margin-top: 15px;
}

.data__container .data-content .data-item .second-line {
  margin-bottom: 15px;
}

.no-webp .consultation{
  background: url(../img/footer/footer.png) no-repeat; }

.consultation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-size: cover;
  height: 398px;
  width: 100%;
  color: #fff;
}

.consultation h2 {
  font-weight: 800;
}

.consultation p {
  margin: 20px 0 60px;
  font-weight: 400;
  font-size: 30px;
}

.consultation form input {
  height: 57px;
  border-radius: 5px;
}

.consultation form input:not(:last-child) {
  margin-right: 20px;
}

.consultation form input:not(input[type=submit]) {
  width: 398px;
  padding: 20px;
}

.consultation form input[type=submit] {
  width: 250px;
  background: #ffc633;
  text-transform: uppercase;
  color: #24173d;
  font-weight: 700;
  font-size: 18px;
}

.consultation form input[type=submit]:hover {
  border: 2px solid #000;
}

.webp .home{ background: url(../img/home/image-1.webp); }

.webp .props__container .content-wrapper .studies{ background: url(../img/props/prop.webp) no-repeat; }

.webp .props__container .content-wrapper .apartments{ background: url(../img/props/prop-2.webp) no-repeat; }

.webp .props__container .content-wrapper .penthouse{ background: url(../img/props/prop-3.webp) no-repeat; }

.webp .props__container .content-wrapper .townhouses{ background: url(../img/props/prop-4.webp) no-repeat; }

.webp .props__container .content-wrapper .villa{ background: url(../img/props/prop-5.webp) no-repeat; }

.webp .consultation{ background: url(../img/footer/footer.webp) no-repeat; }